<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.community.dao.QuestionDao">
    <sql id="base_table">question</sql>
    <sql id="base_column">id,title,description,gmt_create,gmt_modified,creator,comment_count,view_count,like_count,tag</sql>
    <!--插入问题-->
    <insert id="create" parameterType="com.young.community.model.Question" useGeneratedKeys="true">
        insert into question(
            title,description,gmt_create,gmt_modified,creator,tag)
        values(
            #{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{tag})
    </insert>

    <!--查找问题-->
    <select id="list" parameterType="com.young.community.model.Question"
            resultType="com.young.community.model.Question">
        SELECT
          <include refid="base_column"/>
        FROM
          <include refid="base_table"/>
    </select>
</mapper>