<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.community.dao.UserDao">
    <sql id="base_table">user</sql>
    <sql id="base_column">ID,NAME,ACCOUNT_ID,TOKEN,GMT_CREATE,GMT_MODIFIED,avatar_url</sql>
    <!--插入用户-->
    <insert id="insertUser" parameterType="com.young.community.model.User" useGeneratedKeys="true">
        insert into user(
            NAME,ACCOUNT_ID,TOKEN,GMT_CREATE,GMT_MODIFIED,avatar_url)
        values(
            #{name},#{accountId},#{token},#{gmtCreate},#{gmtModified},#{avatarUrl})
    </insert>
    <!--根据token查找-->
    <select id="findByToken" resultType="com.young.community.model.User">
        select <include refid="base_column"/> from user where token = #{token}
    </select>

    <!--根据id查找-->
    <select id="findById" resultType="com.young.community.model.User">
        select <include refid="base_column"/> from user where id = #{id}
    </select>
</mapper>